

.take-look{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.download-desc{
    color:gray;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.download-div{
    margin-top: 2em;
    margin-left: 1em;

}

