#t1{
    padding-inline: 50px;
    padding-top: 50px;
}
p{
    font-size: 20px;
}
#Img1{
    width: 90%;
}
#p2{
    font-size: 20px;
}
#t2{
    padding-top: 70px;
    padding-left: 50px;
}
#Img2{
   
    padding-inline-end: 70px;
}
ul{
    list-style: none;
}
#Img3 {
  padding-top: 0;
   height: 50%;
  }
  .d-flex.align-items-center  h3 {
    margin-top: 0;
  }
  .d-flex.align-items-center {
    display: flex;
    align-items: center;
  }
  #Img4 {
    padding-top: 0;
    height: 50%;
    }
    h1{
        font-weight: bold;
        font-size: 40px;
        
    }
    #h1{
        margin-left: 60px;
    }
   
   h3{
    font-weight: bold;
   }
