.center {
    text-align: center;
    color: rgb(0, 0, 0);
  
}
.center1 {
    text-align: center;
    color: rgb(108, 108, 108);
}

.img1{
    width: 25%;
    height: auto;
}
.img2{
    width: 75%;
    height: auto;
}
.paragraph { 
        text-align: center;
        margin-top: 10px;
        font-size: 30px;
        font-weight: bold;
        color: #000000; 
        font-family: Arial, Helvetica, sans-serif;
    
}
.paragraph1 { 
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    color: #747474; 
    font-family: Arial, Helvetica, sans-serif;
}
.img3{
    width:33.3%;
    height: auto;
    
}
.img4{
    width:33.3%;
    height: auto;
    
}
.img5{
    width:33.3%;
    height: auto;
    
}

.div-center{

    text-align: center;
    width:33.3%;
    

}
.pp { 
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #000000; 
    font-family: Arial, Helvetica, sans-serif;
}
.ppp { 
    color: #747474;
    font-size: 15px;
}
.x{
    display: flex;
}