.footer {
  background-color: #faf9f9; /* لون خلفية التذييل */
  padding: 20px 0;
  font-size: 0.9em;
}

.footer table {
  margin: 10px 20px;
  padding: 10px;
  text-align: left;
  width: 90%;
}
.footer-logo {
  width:20px;
  height:20px;
}
.logo1{
  width: 2.5em;
  height: 2.5em;
}
.word-spacing,.copyright{
  display:inline-flex;
  
}
.word-spacing {
  text-align: left;
  margin-right: 30px;
}
.copyright {
  text-align: right;
  color: #676A79;
  text-decoration: none;
}
a{
  text-decoration: none;
}
.word-spacing-copyright{
  display: flex;
  justify-content: space-between;
  margin-left:5em;
  margin-right:5em;
}

.footer-listings{
  color: #676A79;
  text-decoration: none;
}

.footer-words{ 
  color: #676A79;
}