body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  /* تنسيق العنوان الرئيسي */
  .header {
    text-align: center;
    padding: 100px 20px;
    background-color: rgba(239,242,246,255); /* لون خلفية العنوان */
  }
  
  .header h1 {
    font-size: 2.5em;
    margin: 0 0 20px;
    font-weight: bold;
  }
  
  .header p {
    font-size: 1.2em;
    color:#6e6d6d;
    max-width: 600px;
    margin: 0 auto;
    line-height: 20px;
  }
  
  /* أزرار التحميل */
  .download-button {
    margin-top: 40px;
  }
  
  .download-button {
    text-decoration: none;
    margin: 20px 4px;
    color: #fff;
    background-color: #000000; /* لون الخلفية للأزرار */
    border-radius: 5px;
    cursor: pointer;
    width: 140px;
    height: 40px;
    padding: 0px 0px;
    
    
  }
  .img{
    width: 135px;
    height: 33px;
    padding: 0px 0px;
  }
 
  