
.dot{
    text-align:right;
  }
.dotsAlign{
    float:right;
}
.texting-cele-area{
  background: linear-gradient(to bottom right, #d6e4ff, #ffffff, #f7cfd6);
  
}

.celebration-form{
    background-color: white;
    margin-top:3em;
    min-width: 200px;
    max-width: 200px;
    margin-left: 300px;
    padding-left: 70px;
    padding-right: 70px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2) !important;
    border-radius: 5px;
    margin-bottom:2em;
  }

  span{
    color: grey;
    font-size: 12px;
  }
  #btnView{
    color:black;
    margin-top: 15px;
    margin-left: 5px;
    background: linear-gradient(to bottom right, #d6e4ff, #ffffff, #f7cfd6);
  }
  b{
    color: black;
    font-size: large;
  }
  #b2{
    color: gray;
    font-size: large;

  }
  #ImgProfile{
    width:55px; 
    height:55px; 
    border-radius:50%; 
  }
  .col-sm-2 {
    display: flex;
    justify-content: right;
    align-items: right;
  }

  #celepration{
    padding-bottom: 15px;

  }
  #btn2{
    margin-top: 10px;
    background: linear-gradient(to bottom right, #d6e4ff, #ffffff, #f7cfd6);
  }