

.h2{
    margin-left:20px;
    margin-top:20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.h3{
    margin-left:1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.para3{
    margin-left:3em;
    margin-right: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.div2{
    background-color: white;
    margin-top: 10px;
    margin-right: 3.1em;
    margin-left:2.2em;
    border-radius: 20px;
}

.img1{
    border-radius: 20px;
}



.div3{
    margin-top: 3em;
    background-color: white;
    border-radius: 0.6em;
    min-height: 15em;
}

.div31{
    margin-top: 3em;
    margin-left:2em;
    border-radius: 0.6em;
    min-height:15em;
    background-color: white;
    
}
.div32{
    margin-top: 3em;
    margin-left:2em;
    margin-right:2.5em;
    border-radius: 0.6em;
    min-height:15em;
    background-color: white;
    
}

.img3{
    margin-left: 1.5em;
}